.discountBannerContainer {
  background-color: rgb(226, 52, 21); /* Orange color */
  color: white;
  width: 80%; /* Adjust as needed */
  height: auto; /* Adjustable height */
  min-height: 300px; /* Minimum height to prevent shrinking */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.banner-content-container {
  text-align: center;
  margin-top: 20px;
  height: auto;
}

.banner-content-container h2 {
  font-size:40px;
  margin-top: 20px;
}

.discount-info-container {
  margin-top: 0px;
}

.discount-info-container h1 {
  font-size: 20px;
  margin-top: 10px;
}

.discount-info-container h2 {
  margin: 0;
}

.discount-info-container button {
  background-color: white;
  color: #ff9800;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.discountInfoContainer {
  background-color: rgb(226, 52, 21);
  background-image: url("/images/SignUp.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; /* Full width inside the container */
  max-width: 400px; /* Restrict max width */
  height: auto; /* Adjustable height */
  min-height: 200px; /* Prevent too much shrinking */
}
